@media only screen and (min-device-width : 481px){

    p{
        margin-right:15%;
        margin-left:25%;
        max-width: 35em;
    }

    article li{
        margin-right:15%;
        margin-left:25%;
        max-width: 35em;
    }

    nav{
        margin-right:15%;
        margin-left:25%;
        max-width: 35em;
    }

    header{
        font-family: 'Lucida Sans Unicode';
        font-size: 3em;
        font-weight:lighter;
        margin-bottom:1em;
    }


    footer{
        margin-left:25%;
    }



}

@media only screen and (max-device-width : 480px){

    nav{
        font-size: 1em;
        position: fixed;
        background: LightGoldenRodYellow;
        top: 0;
        width:100%;

    }

    header{
        font-size: 1.5em;
        font-weight: bold;
        margin-bottom: 1em;
    }

    body{
        padding-top: 5em;
    }
}



body {
    background-color: LightGoldenRodYellow;
    font-family: 'Open Sans', sans-serif;
    color: #2a1505;
}


nav ul {
    list-style: none;
    border-bottom: solid;
    padding: 0px;
}
nav ul li {
    display: inline-block;
    text-align: center;
}
nav ul li:first-child {
    display: inline-block;
    text-align: left;
}

nav ul li:last-child {
    display: inline-block;
    text-align: right;
}

nav ul li a {
    display: block;
    padding: 0.7em 0.5em;
    color: #2a1505;
    text-decoration: none;
}

nav ul li:hover a{
    background:#2a1505;
    color:LightGoldenRodYellow;
}




button{
    background-color: #2a1505;
    -moz-border-radius: 0.2em;
    -webkit-border-radius: 0.2em;
    border-radius:0.2em;
    color: FloralWhite;
    font-family: 'Oswald';
    font-size: 2em;
    text-decoration: none;
    cursor: pointer;
    border:none;

    margin-bottom:1em;
}


footer{
    width: 25%;
    font-size: 0.8em;
    margin-top: 2em;

    border-top: thin;
}



